{% set emotions = {
'neutral': '#CCCCCC',
'approval': '#82D8D8',
'admiration': '#FFBEF1',
'annoyance': '#FF6347',
'disapproval': '#B22222',
'realization': '#87CEEB',
'gratitude': '#CBEAD8',
'disappointment': '#4169E1',
'curiosity': '#FFD1BB',
'optimism': '#73D76F',
'joy': '#FFFFA4',
'anger': '#FF4500',
'amusement': '#FF69B4',
'confusion': '#8A2BE2',
'love': '#FF1493',
'sadness': '#4682B4',
'caring': '#E790E7',
'excitement': '#FFA500',
'disgust': '#808080',
'surprise': '#FFD700',
'desire': '#580000',
'fear': '#800080',
'embarrassment': '#D5F4FF',
'remorse': '#051C60',
'nervousness': '#688EF5',
'pride': '#EF9E64',
'relief': '#00641B',
'grief': '#363049'
} %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Wave: Analytics</title>
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
  <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/static/assets/css/notepad.css">
  <link rel="stylesheet" href="/static/calender/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="icon" href="/static/assets/img/wave_2_new.png" type="image/x-icon">


</head>

<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <div class="container-fluid d-flex flex-column p-0"><a
          class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="logo mt-3"><img src="/static/assets/img/wave-4.png" alt="" width="170px"></div>
          <!-- <div class="logo mt-3"><img src="/static/assets/img/wavelogo.png" alt="" width="200px"></div> -->
        </a>
        <hr class="sidebar-divider my-4">
        <ul class="navbar-nav" id="accordionSidebar">
          <li class="nav-item"><a class="nav-link" href="/Wave/{{user.user_id}}/home"><i class="fas fa-pen"></i><span
                style="font-size: 15.5px;">Today</span></a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/Wave/{{user.user_id}}/overview"><i
                class="fas fa-calendar-week"></i><span style="font-size: 15.5px;">Overview</span></a></li>
          <li class="nav-item"><a class="nav-link active" href="/Wave/{{user.user_id}}/analytics"><i
                class="fas fa-tachometer-alt"></i><span style="font-size: 15.5px;">Analytics</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/Wave/{{user.user_id}}/mhr"><i class="fas fa-heart"></i><span
                style="font-size: 15.5px;">Mental Health
                Resources</span></a></li>
        </ul>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
          <h3>Dashboard</h3>
          <div class="container-fluid">
            <ul class="navbar-nav flex-nowrap ms-auto">
              <!-- <div class="mt-3">
                <li><button class="btn btn-primary btn-sm"><a href="/">Download</a></button></li>
              </div> -->
              <li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow">
                  <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                    <span class="badge bg-danger badge-counter"></span>
                    {% if continuous_days == 0 %}
                    <i class="fas fa-fire streak-symbol"> No streak yet!</i>
                    {% elif continuous_days == 1 %}
                    <i class="fas fa-fire streak-symbol" style="color: orange;"> 1 day streak</i>
                    {% else %}
                    <i class="fas fa-fire streak-symbol" style="color: orange;"> {{continuous_days}}
                      days streak!</i>
                    {% endif %}
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i
                      class="fas fa-bell fa-fw"></i></a>
                  <!-- <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                    <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center"
                      href="#">
                      <div class="me-3">
                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                      </div>
                      <div><span class="small text-gray-500">December 12, 2019</span>
                        <p>A new monthly report is ready to download!</p>
                      </div>
                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="me-3">
                        <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                      </div>
                      <div><span class="small text-gray-500">December 7, 2019</span>
                        <p>$290.29 has been deposited into your account!</p>
                      </div>
                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="me-3">
                        <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                      </div>
                      <div><span class="small text-gray-500">December 2, 2019</span>
                        <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                      </div>
                    </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                  </div> -->
                </div>
              </li>

              <div class="d-none d-sm-block topbar-divider"></div>
              <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-bs-toggle="dropdown" href="#"><span
                      class="d-none d-lg-inline me-2 text-gray-600 small">{{user.name}}</span><img
                      class="border rounded-circle img-profile" src="/static/assets/img/dogs/image2.jpeg"></a>
                  <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                    <a class="dropdown-item" href="/Wave/{{user.user_id}}/profile/edit">
                      <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                      </i>&nbsp;Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400">
                      </i>&nbsp;Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cards</h1>
          </div> -->

          <!-- Top Cards -->

          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Current Streak</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{continuous_days}} Days</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Total Words Written</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_word_count}} words!</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-pencil-alt fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tasks Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Entries
                      </div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{total_entries}}</div>
                        </div>
                        <!-- <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                      <!-- <i class="fas fa-file-alt"></i> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        Longest Streak</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{longest_continuous_days}}
                        Day Streak!!</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="container-fluid">
          <div class="row">
            <!-- Pie Chart -->
            <div class="col-lg-4 col-xl-6 m-0">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0">Emotion Analysis</h6>
                  <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                      aria-expanded="false" data-bs-toggle="dropdown" type="button"><i
                        class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                      <p class="text-center dropdown-header">Filters</p><a class="dropdown-item" href="#">&nbsp;Last
                        Month</a><a class="dropdown-item" href="#">&nbsp;Last Year</a>
                      <a class="dropdown-item" href="#">&nbsp;Last 6 months</a>
                      <!-- <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else
                          here</a> -->
                    </div>
                  </div>
                </div>
                <div class="card-body" style="height: 450px;">
                  <div class="chart-area">
                    <!-- Doughnut Chart -->
                    <canvas id="pieChart" width="475px" height="400px"></canvas>
                    <!-- {% block javascript %} -->
                    <script>
                      const emotions = {
                        neutral: '#CCCCCC',
                        approval: '#82D8D8',
                        admiration: '#FFBEF1',
                        annoyance: '#FF6347',
                        disapproval: '#B22222',
                        realization: '#87CEEB',
                        gratitude: '#CBEAD8',
                        disappointment: '#4169E1',
                        curiosity: '#FFD1BB',
                        optimism: '#73D76F',
                        joy: '#FFFFA4',
                        anger: '#FF4500',
                        amusement: '#FF69B4',
                        confusion: '#8A2BE2',
                        love: '#FF1493',
                        sadness: '#4682B4',
                        caring: '#E790E7',
                        excitement: '#FFA500',
                        disgust: '#808080',
                        surprise: '#FFD700',
                        desire: '#580000',
                        fear: '#800080',
                        embarrassment: '#D5F4FF',
                        remorse: '#051C60',
                        nervousness: '#688EF5',
                        pride: '#EF9E64',
                        relief: '#00641B',
                        grief: '#363049'
                      };
                      labels = JSON.parse({{ label | tojson }});
                      data = JSON.parse({{ data | tojson }});
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#pieChart'), {
                          type: 'pie',
                          data: {
                            labels: labels,
                            datasets: [{
                              data: data,
                              backgroundColor: labels.map(label => emotions[label]),
                              hoverOffset: 4,
                            }]
                          },
                          options: {
                            responsive: false,
                            legend: {
                              position: 'left',
                              align: 'center'
                            },
                            tooltips: {
                              callbacks: {
                                label: function (tooltipItem, data) {
                                  var dataset = data.datasets[tooltipItem.datasetIndex];
                                  var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                    return previousValue + currentValue;
                                  });
                                  var currentValue = dataset.data[tooltipItem.index];
                                  var emotionLabel = labels[tooltipItem.index];
                                  var percentage = Math.round((currentValue / total) * 100);
                                  return emotionLabel + ': ' + percentage + "%";
                                }
                              }
                            }
                          }
                        });
                      });
                    </script>
                    <!-- {% endblock %} -->
                    <!-- End Doughnut Chart -->
                  </div>

                </div>
              </div>
              <div>

              </div>
            </div>
            <!-- End Pie Chart -->

            <!-- Stress Pie Chart Start -->
            <div class="col-lg-4 col-xl-6 m-0">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0">Stress Analysis</h6>
                  <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                      aria-expanded="false" data-bs-toggle="dropdown" type="button"><i
                        class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                      <p class="text-center dropdown-header">Filters</p><a class="dropdown-item" href="#">&nbsp;Last
                        Month</a><a class="dropdown-item" href="#">&nbsp;Last Year</a>
                      <a class="dropdown-item" href="#">&nbsp;Last 6 months</a>

                    </div>
                  </div>
                </div>
                <div class="card-body" style="height: 450px;">
                  <div class="chart-area">
                    <!-- Doughnut Chart -->
                    <canvas id="doughnutChart" width="475px" height="400px"></canvas>
                    <script>
                      stress_labels = JSON.parse({{ stress_label | tojson }});
                      stress_data = JSON.parse({{ stress_data | tojson }});
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#doughnutChart'), {
                          type: 'doughnut',
                          data: {
                            labels: stress_labels,
                            datasets: [{
                              data: stress_data,
                              backgroundColor: stress_labels.map(label => label === 'Stress' ? '#FF6961' : '#77DD77'),
                              hoverOffset: 4,
                            }]
                          },
                          options: {
                            responsive: false,
                            legend: {
                              position: 'left',
                              align: 'center'
                            },
                            tooltips: {
                              callbacks: {
                                label: function (tooltipItem, data) {
                                  var dataset = data.datasets[tooltipItem.datasetIndex];
                                  var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                    return previousValue + currentValue;
                                  });
                                  var currentValue = dataset.data[tooltipItem.index];
                                  var count = currentValue;
                                  var percentage = Math.round((currentValue / total) * 100);
                                  var label = data.labels[tooltipItem.index];
                                  return label + ': ' + count + ' (' + percentage + "%)";
                                }
                              }
                            }
                          }
                        });
                      });
                    </script>

                    <!-- End Doughnut Chart -->
                  </div>

                </div>
              </div>
              <div>

              </div>
            </div>
            <!-- Stress Pie Chart End -->
          </div>

          <!-- Word Count Line Chart -->
          <div class="row ">
            <div class="col-12">
              <!-- Word Count Line Chart -->
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0">Word Count Analysis</h6>
                  <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                      aria-expanded="false" data-bs-toggle="dropdown" type="button"><i
                        class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                      <p class="text-center dropdown-header">Filters</p><a class="dropdown-item" href="#">&nbsp;Last
                        Month</a><a class="dropdown-item" href="#">&nbsp;Last Year</a>
                      <a class="dropdown-item" href="#">&nbsp;Last 6 months</a>
                      <!-- <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else
                          here</a> -->
                    </div>
                  </div>
                </div>
                <div class="card-body" style="height: 450px;">
                  <div class="chart-area">

                    <canvas id="lineChart" style="max-height: 400px;"></canvas>
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#lineChart'), {
                          type: 'line',
                          data: {
                            labels: {{ last_month_dates | tojson }},
                        datasets: [{
                          label: 'Daily Entry Word Count',
                          data: {{ word_counts | tojson }},
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                          }]
                        },
                        options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                  });
                });
                    </script>
                    <!-- End Line Chart -->
                  </div>
                </div>
              </div>
              <!-- Word Count Line Chart End -->
            </div>
          </div>


          <div class="row ">
            <!-- Stress Emotion Bar Chart -->
            <div class="col-6">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0">Stress vs Emotion Analysis</h6>
                  <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                      aria-expanded="false" data-bs-toggle="dropdown" type="button"><i
                        class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                      <p class="text-center dropdown-header">Filters</p><a class="dropdown-item" href="#">&nbsp;Last
                        Month</a><a class="dropdown-item" href="#">&nbsp;Last Year</a>
                      <a class="dropdown-item" href="#">&nbsp;Last 6 months</a>
                      <!-- <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else
                          here</a> -->
                    </div>
                  </div>
                </div>

                <div class="card-body" style="height: 270px;">
                  <div class="chart-area">
                    <canvas id="doubleBarChart" style="max-height: 400px;"></canvas>
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#doubleBarChart'), {
                          type: 'bar',
                          data: {
                            labels: {{ emotions_unique | tojson }},
                        datasets: [{
                          label: 'Stress',
                          data: {{ stress_values | tojson }},
                        backgroundColor: '#FF6961',
                        borderColor: '#FF6961',
                        borderWidth: 1
                            },
                        {
                          label: 'Non-Stress',
                          data: {{ no_stress_values | tojson }},
                        backgroundColor: '#77DD77',
                        borderColor: '#77DD77',
                        borderWidth: 1
                        }]
                          },
                        options: {
                        responsive: true,
                        plugins: {
                          legend: {
                            position: 'top',
                          },
                          title: {
                            display: true,
                            text: 'Emotions during Stress vs. Non-Stress'
                          }
                        },
                        scales: {
                          x: {
                            stacked: true,
                            title: {
                              display: true,
                              text: 'Emotions'
                            }
                          },
                          y: {
                            stacked: true,
                            title: {
                              display: true,
                              text: 'Frequency'
                            }
                          }
                        }
                      }
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>

            <!-- Monthly Emotions Bar Chart -->
            <div class="col-6">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0">Monthly Emotions</h6>
                  <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                      aria-expanded="false" data-bs-toggle="dropdown" type="button"><i
                        class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                      <p class="text-center dropdown-header">Filters</p><a class="dropdown-item" href="#">&nbsp;Last
                        Month</a><a class="dropdown-item" href="#">&nbsp;Last Year</a>
                      <a class="dropdown-item" href="#">&nbsp;Last 6 months</a>
                      <!-- <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else
                          here</a> -->
                    </div>
                  </div>
                </div>

                <!-- Bar Chart -->
                <div class="card-body" style="height: 270px;">
                  <div class="chart-area">

                    <canvas id="barChart" style="max-height: 400px;"></canvas>

                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#barChart'), {
                          type: 'bar',
                          data: {
                            labels: [
                              {% for month in last_12_months_emotions %}
                                "{{ month }}",
                              {% endfor %}
                           ],
                        datasets: [{
                          label: 'Monthly Emotions',
                          data: [
                            {% for count in emotion_counts %}
                                  {{ count }},
                        {% endfor %}
                      ],
                        backgroundColor: [
                        {% for emotion in max_occurred_emotions %}
                      '{{ emotions[emotion] }}',
                        {% endfor %}
                            ],
                      borderWidth: 1
                          }]
                        },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        },
                      }
                      });
                    });
                    </script>
                    <!-- End Bar CHart -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
            </div>

            <!-- Bubble -->
            <div class="col-6">
              <!-- Bubble Chart -->
              <!-- <canvas id="bubbleChart" style="max-height: 400px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#bubbleChart'), {
                    type: 'bubble',
                    data: {
                      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                      datasets: [{
                        label: 'Dataset 1',
                        data: [{
                          x: 20,
                          y: 30,
                          r: 15
                        },
                        {
                          x: 40,
                          y: 10,
                          r: 10
                        },
                        {
                          x: 15,
                          y: 37,
                          r: 12
                        },
                        {
                          x: 32,
                          y: 42,
                          r: 33
                        }
                        ],
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)'
                      },
                      {
                        label: 'Dataset 2',
                        data: [{
                          x: 40,
                          y: 25,
                          r: 22
                        },
                        {
                          x: 24,
                          y: 47,
                          r: 11
                        },
                        {
                          x: 65,
                          y: 11,
                          r: 14
                        },
                        {
                          x: 11,
                          y: 55,
                          r: 8
                        }
                        ],
                        borderColor: 'rgb(75, 192, 192)',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)'
                      }
                      ]
                    },
                    options: {
                      responsive: true,
                      plugins: {
                        legend: {
                          position: 'top',
                        },
                        title: {
                          display: true,
                          text: 'Chart.js Bubble Chart'
                        }
                      }
                    }
                  });
                });
              </script> -->
              <!-- End Bubble Chart -->
            </div>

          </div>


          <footer class="bg-white sticky-footer">
            <div class="container my-auto">
              <div class="text-center my-auto copyright"><span>Copyright © Wave 2024</span></div>
            </div>
          </footer>
        </div> <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
      </div>
      <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/assets/js/chart.min.js"></script>
      <script src="assets/js/bs-init.js"></script>
      <script src="/static/assets/js/theme.js"></script>
      <script src="/static/calender/js/jquery.min.js"></script>
      <script src="/static/calender/js/popper.js"></script>
      <script src="/static/calender/js/bootstrap.min.js"></script>
      <script src="/static/calender/js/main.js"></script>
    </div>
</body>

</html>