{% set emotions = {
'neutral': '#CCCCCC',
'approval': '#82D8D8',
'admiration': '#FFBEF1',
'annoyance': '#FF6347',
'disapproval': '#B22222',
'realization': '#87CEEB',
'gratitude': '#CBEAD8',
'disappointment': '#4169E1',
'curiosity': '#FFD1BB',
'optimism': '#73D76F',
'joy': '#FFFFA4',
'anger': '#FF4500',
'amusement': '#FF69B4',
'confusion': '#8A2BE2',
'love': '#FF1493',
'sadness': '#4682B4',
'caring': '#E790E7',
'excitement': '#FFA500',
'disgust': '#808080',
'surprise': '#FFD700',
'desire': '#580000',
'fear': '#800080',
'embarrassment': '#D5F4FF',
'remorse': '#051C60',
'nervousness': '#688EF5',
'pride': '#EF9E64',
'relief': '#00641B',
'grief': '#363049'
} %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Wave: Overview</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/notepad.css">
    <link rel="stylesheet" href="/static/calender/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/assets/img/wave_2_new.png" type="image/x-icon">
</head>

<body id="page-top">



    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="logo mt-3"><img src="/static/assets/img/wave-4.png" alt="" width="170px"></div>
                </a>
                <hr class="sidebar-divider my-4">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/Wave/{{user.user_id}}/home"><i
                                class="fas fa-pen"></i><span style="font-size: 15.5px;">Today</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/Wave/{{user.user_id}}/overview"><i
                                class="fas fa-calendar-week"></i><span style="font-size: 15.5px;">Overview</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/Wave/{{user.user_id}}/analytics"><i
                                class="fas fa-tachometer-alt"></i><span style="font-size: 15.5px;">Analytics</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/Wave/{{user.user_id}}/mhr"><i
                                class="fas fa-heart"></i><span style="font-size: 15.5px;">Mental
                                Health Resources</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <h3>Overview</h3>
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                                        href="#">
                                        <span class="badge bg-danger badge-counter"></span>
                                        {% if continuous_days == 0 %}
                                        <i class="fas fa-fire streak-symbol"> No streak yet!</i>
                                        {% elif continuous_days == 1 %}
                                        <i class="fas fa-fire streak-symbol" style="color: orange;"> 1 day streak</i>
                                        {% else %}
                                        <i class="fas fa-fire streak-symbol" style="color: orange;"> {{continuous_days}}
                                            days streak!</i>
                                        {% endif %}
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="badge bg-danger badge-counter">3+</span><i
                                            class="fas fa-bell fa-fw"></i></a>
                                    <!-- <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a
                                            class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i
                                                        class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i
                                                        class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your
                                                    account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div> -->
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="d-none d-lg-inline me-2 text-gray-600 small">{{user.name}}</span><img
                                            class="border rounded-circle img-profile"
                                            src="/static/assets/img/dogs/image2.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <a class="dropdown-item" href="/Wave/{{user.user_id}}/profile/edit">
                                            <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                                            </i>&nbsp;Profile
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400">
                                            </i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Last Week Entries</h6>
                                </div>
                                <div class="card-body">
                                    <div class="col">
                                        <div class="row">
                                            {% for entry in week_journals %}
                                            <a href="/Wave/{{user.user_id}}/{{entry.jid}}">
                                                <div class="col-lg-12 mb-1">
                                                    <div class="card text-black shadow"
                                                        style="background-color: {{emotions[entry.emotions]}};"
                                                        title="{{entry.emotions}}">
                                                        <div class="card-body">
                                                            <p class="m-0">{{weekly_dates[loop.index0]}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Calender</h6>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <section class="ftco-section">
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="elegant-calencar d-md-flex">
                                                            <div class="wrap-header d-flex align-items-center img"
                                                                style="background-image: url(/static/calender/images/bg.jpg);">
                                                                <p id="reset">Today</p>
                                                                <div id="header" class="p-0">
                                                                    <!-- <div class="pre-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-left"></i></div> -->
                                                                    <div class="head-info">
                                                                        <div class="head-month"></div>
                                                                        <div class="head-day"></div>
                                                                    </div>
                                                                    <!-- <div class="next-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-right"></i></div> -->
                                                                </div>
                                                            </div>
                                                            <div class="calendar-wrap">
                                                                <div class="w-100 button-wrap">
                                                                    <div
                                                                        class="pre-button d-flex align-items-center justify-content-center">
                                                                        <i class="fa fa-chevron-left"></i>
                                                                    </div>
                                                                    <div
                                                                        class="next-button d-flex align-items-center justify-content-center">
                                                                        <i class="fa fa-chevron-right"></i>
                                                                    </div>
                                                                </div>
                                                                <table id="calendar">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Sun</th>
                                                                            <th>Mon</th>
                                                                            <th>Tue</th>
                                                                            <th>Wed</th>
                                                                            <th>Thu</th>
                                                                            <th>Fri</th>
                                                                            <th>Sat</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <!-- <tbody>
                                                                        {% for row in calendar_rows %}
                                                                        <tr>
                                                                            {% for day, emotions_list in row %}
                                                                            <td
                                                                                style="background-color: {{ emotions[emotion_list] }};">
                                                                                {{ day }}</td>
                                                                            {% endfor %}
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody> -->
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Wave 2024</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/chart.min.js"></script>
    <script src="/static/assets/js/bs-init.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/calender/js/jquery.min.js"></script>
    <script src="/static/calender/js/popper.js"></script>
    <script src="/static/calender/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='calender/js/main.js') }}"></script>
    <!-- <script src="/static/calender/js/main.js"></script> -->
</body>

</html>